<div class="container">
    <br>
    <h3>Welcome, Check out the instructions before you start:</h3>

<br>

    <div class="row">
        <div class="box">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt voluptates consequatur aspernatur sequi aut nam quasi assumenda deserunt natus nobis. Enim dolor quis delectus ut! Omnis pariatur illo sequi commodi.
                Ab omnis dolorem placeat aspernatur officia deserunt eius dolores minima quod cum sunt aliquid modi est labore quae odit aperiam, ipsam vero fuga temporibus officiis illum. Eos enim voluptatibus corrupti.
                Mollitia quos non iusto, quaerat soluta doloribus hic vel? Quaerat qui nesciunt voluptatem aut consectetur, ratione accusantium nemo? Dolorum pariatur laudantium, eum consectetur animi quo tenetur illo sit vitae non.
                Voluptates vel eos, inventore labore amet quae sunt modi. Adipisci nulla excepturi at obcaecati suscipit. Quasi, dolor commodi facere quod aspernatur, sint corrupti rem voluptate itaque veritatis a! Maxime, nihil!</p>
        </div>
                    <img src="../../../assets/home-vote.png" alt="Voter PNG Image">
    </div>

</div>