
<div class="container">
    
    <br><br>
  <div class="alert alert-danger" role="alert" *ngIf="backendErrorBoolean === true">
    {{backendErrorMessage}}
  </div>


    <form class="form-group" (ngSubmit)="onLoginVerification()"  [formGroup]="form" >
    
        <label for="username">UserName</label>
        <input type="text" class="form-control" formControlName="username">
        <b><small [ngStyle]="{'color': '#F24C4C'}" *ngIf="username && username.invalid && username.touched">Required</small></b>
        <br>
        <br>
        <label for="password">Password</label>
        <input formControlName="password" type="password" class="form-control" >
        <b><small [ngStyle]="{'color': '#F24C4C'}" *ngIf="password && password.invalid && password.touched">Required</small></b>
    <br>
    
        <button class="btn btn-primary" [disabled]="form.invalid" (click)="onLoginVerification()" >
            Login
        </button>
    </form>
</div>
