
<div class="container">
    
    <br><br>
  <div class="alert alert-danger" role="alert" *ngIf="backendErrorBoolean === true">
    {{backendErrorMessage}}
  </div>


    <form class="form-group">
    
        <label for="username">UserName</label>
        <input type="text" class="form-control"  (input) = "onUsernameChange($event)">
        <br>
        <br>
        <label for="password">Password</label>
        <input type="password" class="form-control"  (input) = "onPasswordChange($event)">
    <br>
    
        <button class="btn btn-primary" (click)="onLoginVerification()" >
            Login
        </button>
    </form>
</div>
