
{% include 'base.html' %}


<br><br><br><br>
<center class="container">
    <table class="table table-striped table-hover table-bordered table-responsive">
        <tr class="table-dark">
          <th>Username</th>
          <th>Email</th>
          <th>Area</th>
          <th>Admin?</th>
          <th>Voted?</th>
          <th>Status</th>
        </tr>
    
        {% for voter in voters %}
            <tr>
                <td>{{voter.user.username}}</td>
                <td>{{voter.user.email}}</td>
                <td>{{voter.area}}</td>
                <td>
                    {{voter.is_admin}}
                    <!-- Admin Permissions -->
                    <br>
                    <form action="{% url 'admin-rights' username=voter.user.username %}" method="post">

                        {% csrf_token %}

                        <select name="admin_rights">
                            <option value=""> Choose one </option>
                            <option value="True"> True </option>
                            <option value="False"> False </option>
                        </select>
                        
                        <input type="submit" value="Change Rights">
                    </form>
                </td>
                <td>{{voter.is_voted}}</td>
                <td>
                    {{voter.status}}
                    <!-- Account Status Change -->
                    <br>
                    <form action="{% url 'memeber-status-change' username=voter.user.username %}" method="post">

                        {% csrf_token %}

                        <select name="status_change">
                            <option value="Choose"> Choose one </option>
                            <option value="Accepted"> Accepted </option>
                            <option value="Denied"> Denied </option>
                        </select>
                        
                        <input type="submit" value="Change Status">
                    </form>
                </td>
            </tr>
        {% endfor %}
    
    </table>
</center>


<div class="container">
    <a href="{% url 'admin-analytics' %}" class="btn btn-primary btn-block">Analytics</a>

    <a href="{% url 'admin-segregation' %}" class="btn btn-primary btn-block">Voted & Not Voted Segregation</a>

    <a href="{% url 'logoutt' %}" class="btn btn-block btn-dark">Logout</a>
</div>

