{% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
  </head>
  <body>
    <br /><br />
    <div class="container">
      <h2>Registration Form</h2>

      <form action="{% url 'register-details-save' %}" method="post">
        {% csrf_token %}

        <br /><br />

        <label for="name">Username</label>
        <input
          class="form-control"
          id="username"
          type="text"
          name="username"
          required
        />
        <small id="username-small"></small>
        <br />
        <label for="name">EmailID</label>
        <input
          type="email"
          id="email"
          class="form-control"
          name="email"
          required
        />
        <small id="email-small"></small>
        <br />
        Choose your Area:
        <select
          name="area"
          class="form-control custom-select custom-select-lg mb-3"
          required
        >
          {% for area in areas %}
          <option value="{{ area.area }}">{{ area.area }}</option>
          {% endfor %}
        </select>
        <br />

        <label for="name">Password</label>
        <input
          type="password"
          id="password1"
          class="form-control"
          name="password1"
          required
        />

        <label for="name">Confirm Password</label>
        <input
          type="password"
          id="password2"
          name="password2"
          class="form-control"
          required
        />
        <small id="password-confirm-small"></small>

        <br />

        <input
          type="checkbox"
          id="checkbox"
          onclick="allVerification()"
          required
        />
        Terms and Conditions
        <br /><br />
        <input
          type="submit"
          class="btn btn-primary btn-block"
          onclick="alerto()"
          value="Register!"
          class="form-control"
        />
      </form>

      <script>
        document.querySelector("#username").addEventListener("keyup", (e) => {
          validateUsername();
        });

        document.querySelector("#email").addEventListener("keyup", (e) => {
          validateEmail(e);
        });

        document.querySelector("#password2").addEventListener("keyup", (e) => {
          validatePassword();
        });

        let usernameValid = false;
        let passwordValid = false;
        let emailValid = false;

        function alerto() {
          if (
            usernameValid === false ||
            passwordValid === false ||
            emailValid === false
          ) {
            alert("Check the details properly and Try again!");
          }
        }

        function allVerification() {
          if (
            usernameValid === false ||
            passwordValid === false ||
            emailValid === false
          ) {
            alert("Enter the deatils properly");
            document.getElementById("checkbox").checked = false;
          }
        }

        function validateUsername() {
          var username = document.getElementById("username");
          var usernameSmall = document.getElementById("username-small");

          console.log(username.value.length);

          if (username.value.length < 2) {
            usernameSmall.innerHTML = "Username too small";
            document.querySelector("#username-small").style.color = "red";
            usernameValid = false;
          } else {
            usernameSmall.innerHTML = "Username isn't short";
            document.querySelector("#username-small").style.color = "green";
            usernameValid = true;
          }
        }

        function validateEmail(event) {
          const email = event.target.value;
          var emailSmall = document.getElementById("email-small");

          if (email === "") {
            emailSmall.innerHTML = "Email can't be null!";
            document.querySelector("#email-small").style.color = "red";
            emailValid = false;
          } else {
            let indexAt = email.indexOf("@");
            let indexEnd;
            const ends = [".com", ".in", ".co.in"];

            for (let i of ends) {
              if (email.indexOf(i) !== -1) {
                indexEnd = email.indexOf(i);
                break;
              } else {
                indexEnd = -1;
              }
            }

            console.log(indexAt, indexEnd);

            if (indexAt === -1 || indexEnd === -1) {
              emailSmall.innerHTML = "Email isn't valid";
              document.querySelector("#email-small").style.color = "red";
              emailValid = false;
            } else {
              emailSmall.innerHTML = "Email is in correct format";
              document.querySelector("#email-small").style.color = "green";
              emailValid = true;
            }
          }
        }

        function validatePassword() {
          var password1 = document.getElementById("password1");
          var password2 = document.getElementById("password2");

          var passwordSmall = document.getElementById("password-confirm-small");

          console.log("Password1", password1.value);
          console.log("Conf", password2.value);

          if (password1.value !== password2.value) {
            passwordSmall.innerHTML = "Passwords do not match";
            document.querySelector("#password-confirm-small").style.color =
              "red";
            passwordValid = false;
          } else {
            passwordSmall.innerHTML = "Passwords Perfectly match!";
            document.querySelector("#password-confirm-small").style.color =
              "green";
            passwordValid = true;
          }
        }
      </script>
    </div>
  </body>
</html>
