
{% include 'base.html' %}

<br><br>

<div class="container">
    <h2>Registration Form</h2>
    
    <form action="{% url 'register-details-save' %}" method="post">
    
        {% csrf_token %}
    
        <br><br>
    
        <label for="name">Username</label>
        <input class="form-control" type="text" name="username" required>
    
        <label for="name">Email</label>
        <input type="email" class="form-control" name="email" required>
    
        <br>
        Choose your Area:
        <select name="area" class="form-control custom-select custom-select-lg mb-3" required>
            {% for area in areas %}
            <option value="{{ area.area }}">{{ area.area }}</option>
            {% endfor %}
        </select>
        <br>
    
        <label for="name">Password</label>
        <input type="password" class="form-control" name="password1" required>
    
        <label for="name">Confirm Password</label>
        <input type="password" name="password2" class="form-control" required>
        <br>
    
        <input type="submit" class="btn btn-primary btn-block" value="Register!" class="form-control">
    
    </form>
</div>